# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/aula01/nbproject/private/
/aula01/build/
/aula01Noite/nbproject/private/
/aula01Noite/build/
/aula02Noite/nbproject/private/
/aula02Noite/build/
/aula02Tarde/nbproject/private/
/aula03Noite/nbproject/private/
/aula03Noite/build/
/aula04Noite/nbproject/private/
/aula04Noite/build/
/aula05Noite/nbproject/private/
/aula06Noite/nbproject/private/
/aula06Noite/build/